$color_black: #000000;
$color_grey: #707070;
$color_grey_2: #434343;
$color_link: #0089FF;
$color_blue: #004BB1;
$color_blue_2: #0089FF;
$color_green: #0DB75B;
$color_required: #F25D5D;
$color_icon: #959595;
$color_name_company: #4B4949;
$color_border_review: #C4BEBE;
$color_border_notify: #CCCCCC;
$bg_form_control: #F5F5F5;
$bg_about: #F0F8FE;
$bg_red: #F00000;
$bg_222222: #222222;
$bg_DEDEDE: #DEDEDE;
$bg_favorites: #98A6B5;
$bg_favorites_active: $bg_red;
$bg_mypage_label: #A3A3A3;
$bg_mypage_nav_active: #00CBF0;

$color_label_input: #707F89;
$color_border_input: #CDD6DD;
$color_input: #3B4043;

$color_border_paging: #dee2e6;
