$color_black: #000000;
$color_F5F5F5: #F5F5F5;
$color_707070: #707070;
$color_nav_active: #00CBF0;
$color_radio: #3B4043;
$color_btn_primary: #004BB1;

$color_label: #707F89;
$color_border_input: #CDD6DD;

$text_color_title: #4c4949;
$text_color_base: #8c8c8c;
$text_color_input: #c9c9c9;
$link_border: #c5c5c5;
$cast_tag_color: #666666;
$cast_price_color: #989898;

$color_red: #ff3958;
$color_orange: #efc386;
$color_green: #80d25b;
$color_pink: #f3aab9;
$color_blue: #afd4ea;
$color_purple: #d7a3c9;
$color_yellow: #dec3d2;
$color_yellow_opacity_1: #eee1e8;
$color_yellow_opacity_2: #f3e7ed;
$color_yellow_opacity_3: #f1dfe9;
$color_yellow_opacity_4: #f2e6ed;
$color_yellow_opacity_8: #eee1e8;
$color_blue: #93dadc;
$color_grey: #707070;
$color_black: #000000;
$color_636363: #636363;
$color_c4c4c4: #c4c4c4;
$color_383838: #383838;
$color_979797: #979797;
$color_02b802: #02b802;
$color_f7f8f8: #f7f8f8;
$color_e4e4e4: #e4e4e4;
$color_606060: #606060;
$color_b0b0b0: #b0b0b0;
$color_4d4d4d: #4d4d4d;
$color_6d6d6d: #6d6d6d;
$color_cecece: #cecece;
$color_8e8e8e: #8e8e8e;
$color_d0d0d0: #d0d0d0;
$color_646464: #646464;
$color_939393: #939393;
$color_fffefe: #fffefe;
$color_white: #fff;
$color_c7c7c7: #c7c7c7;
$color_e0e0e0: #e0e0e0;
$color_fb4a4a: #fb4a4a;
$color_cbcbcb: #cbcbcb;
$background_twitter: #438dc4;
$background_line: #00b900;
$background_grey: #f1f1f1;
$background_yellow: #fdf4f6;
$background_durk: #676767;
$border-title-h4: #b1b1b1;
$border-pink: #ffeaef;
$background_gradient: #2d2320;
$color_btn_grey: #787878;
$background_btn_grey: #f8f9f8;
$background_red: #fd0101;
$background_gradient_top_left: #d990c4;
$background_gradient_right_bottom: #b8c6e1;

$background_title_ac: #dec3d2;
$background_input_ac: #fbffd6;
$color_input_ac: #a0a0a0;
$color_text_ac: #464646;
$color_link_ac: #5f5f5f;

$datepick_color_next: $background_title_ac;
$datepick_border: $background_title_ac;
$datepick_background_table: #f6f6f6;
$datepick_background_th: #b9b9b9;
$datepick_border_table: #dcdcdc;
$datepick_background_active: $background_title_ac;
$datepick_color_btn_cancel: #757575;
$datepick_shadow_btn_cancel: #848484;

$user_login_background: $background_title_ac;
$user_login_color_input: #eeeeee;
$user_login_border_input: #dbdbdb;

$hr-color: #adadad;

$background_btn_update: #6b6b6b;
$background_btn_delete: #e3e1db;
$background_line_left_green: #6ae724;
$background_approval_method: #fafaf6;
$background_btn_approval_method: #929292;

$line_bottom_green: #5bbc2b;
$line_bottom_red: #f92500;
$line_bottom_yellow: $user_login_background;
$line_bottom_blue: #3ac7f7;
$line_bottom_purple: #5500bf;

$table_bg_header: #b4b4b4;
$table_border: #909090;
$color_load_more: #b2b2b2;


$message_color_text_success: #155724;
$message_background_success: #d4edda;
$message_color_border_success: #c3e6cb ;

$message_color_text_danger: #721c24;
$message_background_danger: #f8d7da;
$message_color_border_danger: #f5c6cb ;


$background_working_time: $color_yellow_opacity_1;
$border_working_time: $color_purple;
$background_btn_working_time: #fafafa;
$color-working-time-sat: #32a9eb;
$color-working-time-sun: #f90404;
$color-btn-choice: #01d701;

$label_background_required: #f8eaef;

$admin_color_purple: #5f00bf;

$color_label_input: #707F89;
$bg_DEDEDE: #DEDEDE;
