@font-face {
    font-family: 'Source Han Sans';
    src: url('../fonts/SourceHanSans-Regular.otf');
}

@font-face {
    font-family: 'Source Han Sans';
    src: url('../fonts/SourceHanSans-Bold.otf');
    font-weight: 700;
}

@font-face {
    font-family: 'Source Han Sans';
    src: url('../fonts/SourceHanSans-Medium.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'DIN Alternate Bold';
    src: url('../fonts/DINAlternateBold.otf');
    font-weight: 700;
}

@font-face {
    font-family: 'Amiko';
    src: url('../fonts/Amiko-Regular.ttf');
    font-weight: 400;
}


@font-face {
    font-family: 'GenJyuuGothic';
    src: url('../fonts/GenJyuuGothic-Regular-2.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'GenJyuuGothic';
    src: url('../fonts/GenJyuuGothic-Medium.woff.ttf');
    font-weight: 500;
}
