$font-size: 10px;
$font-size-ipad: 30px;
$font-size-xs: 20px;
$font-size-sm: 17px;
$line-height: 1.5;
$font-family: 'Source Han Sans';
$font-family-DIN-alternate: 'DIN Alternate Bold';
$font-family-GenJyuuGothic: 'GenJyuuGothic';
$font-family-Amiko: 'Amiko';
$font-weight: 400;
$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-bold: 700;

$padding: 25px;
$padding-small: 56px;
$padding-medium: 90px;
$padding-large: 138px;
